.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;  /* stack items vertically */
  height: 100%;           /* ensure it takes full height of parent */
}

.projectDescription {
  flex: 1;           /* grows to fill remaining space */
  min-width: 0; 
}

.buttonStack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;                 /* space between buttons */
}

/* Mobile view */
@media (max-width: 768px) {
  .buttonStack {
    flex-direction: column;    /* stack buttons vertically */
    justify-content: center;   /* center them vertically */
    align-items: center;       /* center them horizontally */
    gap: 10px;                 /* space between buttons */
    margin-top: 20px;
  }
}

.buttonStack a.flex-grow {
  text-align: right;
  flex: 1;           /* grows to fill remaining space */
  min-width: 0;      /* ensures it can shrink properly */
}

/* Mobile view */
@media (max-width: 768px) {
 .buttonStack a.flex-grow {
    text-align: center;
  }
}



